<div class="container  form-fields">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6">
            <div *ngIf = "!isSignedIn">
                <h1>Scribble</h1>
                <p>A simple note taking app so that you focus on what matters.</p>
                <h2>Sign-up</h2>
                <input class="form-control mb-1" type="text" placeholder="Enter your email" #emailSignup>
                <input class="form-control mb-1" type="password" placeholder="Password" #passwordSignup>
                <button class="btn btn-primary mt-2" (click) = "onSignup(emailSignup.value, passwordSignup.value)">Sign-up</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 sign-in">
            <div *ngIf = "!isSignedIn">
                <h2>Sign-In</h2>
                <input class="form-control mb-1" type="text" placeholder="Email" #email>
                <input class="form-control mb-1" type="password" placeholder="Password" #password>
                <button class="btn btn-primary mt-2" (click)="onSignin(email.value, password.value)">Sign-In</button>
            </div>
        </div>
    </div>
</div>


<app-container *ngIf="isSignedIn" (isLogout)="handleLogOut()"></app-container>